# ==============================
# Python
# ==============================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Archive files
# ==============================
*.zip
*.tar.gz
*.tgz

# ==============================
# Dataset
# ==============================
/data/
/dataset/
PlantVillage/

# ==============================
# Model files
# ==============================
models/*.keras
models/*.h5
*.pkl
*.pth
*.saved_model/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Outputs / logs
# ==============================
outputs/
logs/
*.log

# ==============================
# OS / Editor
# ==============================
.DS_Store
.vscode/
